@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?39082975');
  src: url('../font/fontello.eot?39082975#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?39082975') format('woff'),
       url('../font/fontello.ttf?39082975') format('truetype'),
       url('../font/fontello.svg?39082975#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39082975#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-spin6:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-male:before { content: '\e804'; } /* '' */
.icon-female:before { content: '\e805'; } /* '' */
.icon-child:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80a'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80b'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-unlink:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e812'; } /* '' */
.icon-reply:before { content: '\e813'; } /* '' */
.icon-forward:before { content: '\e814'; } /* '' */
.icon-zoom-in:before { content: '\e815'; } /* '' */
.icon-volume-up:before { content: '\e816'; } /* '' */
.icon-volume-down:before { content: '\e817'; } /* '' */
.icon-volume-off:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-up-open:before { content: '\e81b'; } /* '' */
.icon-down-open:before { content: '\e81c'; } /* '' */
.icon-align-justify:before { content: '\e81d'; } /* '' */
.icon-users:before { content: '\e81e'; } /* '' */
.icon-angellist:before { content: '\e81f'; } /* '' */
.icon-search-1:before { content: '\e820'; } /* '' */
.icon-heart-empty:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-users-1:before { content: '\e823'; } /* '' */
.icon-user-add:before { content: '\e824'; } /* '' */
.icon-user-1:before { content: '\e825'; } /* '' */
.icon-check:before { content: '\e826'; } /* '' */
.icon-menu:before { content: '\e827'; } /* '' */
.icon-login:before { content: '\e828'; } /* '' */
.icon-logout:before { content: '\e829'; } /* '' */
.icon-chat-alt:before { content: '\e82a'; } /* '' */
.icon-download-outline:before { content: '\e82b'; } /* '' */
.icon-bell:before { content: '\e82c'; } /* '' */
.icon-wrench:before { content: '\e82d'; } /* '' */
.icon-cog-circled:before { content: '\e82e'; } /* '' */
.icon-cog:before { content: '\e82f'; } /* '' */
.icon-comment:before { content: '\e830'; } /* '' */
.icon-trash:before { content: '\e831'; } /* '' */
.icon-search-2:before { content: '\e832'; } /* '' */